<!-- Footer section -->
    <footer class="mt-0 bg-gray-900 sm:mt-0">
      <div class="mx-auto max-w-md py-12 px-4 overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
          <div class="px-5 py-2">
            <a href="#" class="text-base text-gray-400 hover:text-gray-300"> About </a>
          </div>

          <div class="px-5 py-2">
            <a href="#" class="text-base text-gray-400 hover:text-gray-300"> Blog </a>
          </div>

          <div class="px-5 py-2">
            <a href="#" class="text-base text-gray-400 hover:text-gray-300"> Jobs </a>
          </div>

          <div class="px-5 py-2">
            <a href="#" class="text-base text-gray-400 hover:text-gray-300"> Press </a>
          </div>

          <div class="px-5 py-2">
            <a href="#" class="text-base text-gray-400 hover:text-gray-300"> Accessibility </a>
          </div>

          <div class="px-5 py-2">
            <a href="#" class="text-base text-gray-400 hover:text-gray-300"> Partners </a>
          </div>
        </nav>
        <div class="mt-8 flex justify-center space-x-6">
          {%- include social.html -%}
            <p>{{- site.description | escape -}}</p>
        </div>
        <p class="mt-8 text-center text-base text-gray-400">&copy; 2020 Workflow, Inc. All rights reserved.</p>
      </div>
    </footer>
