<header class="" role="banner">

    <div class="bg-slate-700">
    <div class="relative overflow-hidden">
      <div class="absolute inset-y-0 h-full w-full" aria-hidden="true">
      </div>
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}

      <div class="relative pt-6 pb-16 sm:pb-6">
        <div>
          <div class="max-w-7xl mx-auto px-4 sm:px-6">
            {%- if page_paths -%}
            <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
              <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
                <div class="flex items-center justify-between w-full md:w-auto">
                  <a href="{{ "/" | relative_url }}" class="visited:text-blue-400 hover:no-underline">
                    <span class="sr-only">Course Blueprint Home</span>
                    <h1 class="text-3xl font-extrabold tracking-tight sm:text-4xl text-blue-400">Course Blueprint</h1>
                  </a>
                  <div class="-mr-2 flex items-center md:hidden">
                    <button type="button" class="bg-gray-50 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                      <span class="sr-only">Open main menu</span>
                      <!-- Heroicon name: outline/menu -->
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              
              <div class="hidden md:flex md:space-x-10">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                    <a class="page-link font-medium text-gray-200 hover:text-gray-300 visited:text-gray-200" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- endif -%}
                {%- endfor -%}
              </div>
              <!-- <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
                <span class="inline-flex rounded-md shadow">
                  <a href="#" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500"> The Academy </a>
                </span>
              </div> -->
            </nav>
            {%- endif -%}
          </div>

          <!--
            Mobile menu, show/hide based on menu open state.

            Entering: "duration-150 ease-out"
              From: "opacity-0 scale-95"
              To: "opacity-100 scale-100"
            Leaving: "duration-100 ease-in"
              From: "opacity-100 scale-100"
              To: "opacity-0 scale-95"
          -->
            
          <div class="absolute z-10 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
            {%- assign default_paths = site.pages | map: "path" -%}
            {%- assign page_paths = site.header_pages | default: default_paths -%}
            <div class="rounded-lg shadow-md bg-slate-700 ring-1 ring-black ring-opacity-5 overflow-hidden">
              <div class="px-5 pt-4 flex items-center justify-between">
                <div>
                  <a href="{{ "/" | relative_url }}" class="visited:text-blue-400 hover:no-underline">
                    <span class="sr-only">Course Blueprint Home</span>
                    <h1 class="text-3xl font-extrabold tracking-tight sm:text-4xl text-blue-400">Course Blueprint</h1>
                  </a>
                </div>
                <div class="-mr-2">
                  <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                    <span class="sr-only">Close main menu</span>
                    <!-- Heroicon name: outline/x -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              {%- if page_paths -%}
              <div class="px-2 pt-2 pb-3 space-y-1">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                    <a class="page-link block px-3 py-2 rounded-md text-base font-medium text-gray-200 hover:text-gray-300 hover:bg-slate-600 visited:text-gray-200" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- endif -%}
                {%- endfor -%}
              </div>
               {%- endif -%}
<!--               <a href="#" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100 hover:text-indigo-700"> Log in </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
